.display_container {
    display: flex;
    justify-content: center;
    width: 480px;
    background-color: #EFDADD;
}


#display {
    width: 384px;
    height: 40px;
    border: 3px solid #5f494d;
    margin: 8px;
    background-color: #e5ddde;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.operator_num_container{
    display: flex;
    justify-content: center;
    width: 480px;
    background-color: #EFDADD;
}

.numbers_container {
    display: flex;
   /* width: 450px;
    height: 390px; */
    justify-content: center;
    flex-direction: column;
}

.number_row_one, 
.number_row_two,
.number_row_three {     
    display: flex;
    justify-content: center;
    /*width: 500px;*/
    /*height: 10px;*/
}


.number {
    border: 2px solid #5f494d;
    width: 102px;
    height: 102px;
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
}

.zero_container{
    display: flex;
    width: 480px;
    justify-content: center;
    background-color: #EFDADD;
}

#zero, #clear {
    border: 2px solid #5f494d;
    width: 189px;
    height: 60px;
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
}


.math_operators {
    display: flex;
    flex-direction: column;
}

#add, #subtract, #multiply, #divide, #equals {
    width: 60px;
    border: 2px solid #5f494d;
    height: 58.8px;
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
}

button {
    border-radius: 25px;
}


#one, #seven,
#nine, #clear {
    background-color: #BE394F;
    color: white;
}

#eight, #six, #zero, #multiply {
    background-color: #815568;
    color: white;
}

#three, #five, #add, #divide {
    background-color: #015871;
    color: white;
}


#four, #two, #subtract, #equals {
    background-color: #ce7b5b;
    color: white;
}



